apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation-service
  namespace: utility
  labels:
    app: recommendation-service
spec:
  replicas: 1
  minReadySeconds: 180
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 0%
  selector:
    matchLabels:
      app: recommendation-service
  template:
    metadata:
      labels:
        app: recommendation-service
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: recommendation-service
        image: $ECR_REPO:$IMAGE_TAG
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
        resources:
          requests:
            memory: 1000Mi
            cpu: 500m
          limits:
            memory: 2000Mi
            cpu: 1000m
---
apiVersion: v1
kind: Service
metadata:
  name: recommendation-service
  namespace: utility
spec:
  selector:
    app: recommendation-service
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000

---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: recommendation-service
  namespace: utility
spec:
  minReplicas: 1
  maxReplicas: 5
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: recommendation-service
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: AverageValue
          averageValue: 900Mi
